<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <!-- <div class="page-header-title">
          <h5 class="m-b-10">Dashboard</h5>
        </div> -->
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/">
              <i class="feather icon-home"></i>
            </a>
          </li>
          <!-- <li class="breadcrumb-item">
            <a href="#!">Dashboard</a>
          </li> -->

          <li *ngFor="let breadcrumb of breadcrumbs; index as i" class="breadcrumb-item">
              <a [routerLink]="[breadcrumb.url, breadcrumb.params]" *ngIf="i !== (breadcrumbs.length - 1)">
                  {{ breadcrumb.label }}
              </a>
              <a *ngIf="i === (breadcrumbs.length - 1)">
                  {{ breadcrumb.label }}
              </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
