<div class="card">
  <div class="card-header">
    <h5>Profile</h5>
  </div>
  <div class="card-block">
    <h4 class="sub-title">Change Password</h4>

    <form (ngSubmit)="onSubmit()" #modelForm="ngForm">

      <div class="form-group row" [class.has-danger]="OldPasswordControl.invalid && (OldPasswordControl.dirty || OldPasswordControl.touched)">
        <div class="col-sm-2">
          <label class="col-form-label" for="OldPassword">Current password</label>
        </div>
        <div class="col-sm-10">
          <input type="password" class="form-control" [class.form-control-danger]="OldPasswordControl.invalid && (OldPasswordControl.dirty || OldPasswordControl.touched)"
            name="OldPassword" required [(ngModel)]="model.OldPassword" #OldPasswordControl="ngModel">
          <app-validation-messages [controlObject]="OldPasswordControl"></app-validation-messages>
        </div>
      </div>

      <div class="form-group row" [class.has-danger]="NewPasswordControl.invalid && (NewPasswordControl.dirty || NewPasswordControl.touched)">
        <div class="col-sm-2">
          <label class="col-form-label" for="NewPassword">New password</label>
        </div>
        <div class="col-sm-10">
          <input type="password" class="form-control" [class.form-control-danger]="NewPasswordControl.invalid && (NewPasswordControl.dirty || NewPasswordControl.touched)"
            name="NewPassword" required [(ngModel)]="model.NewPassword" #NewPasswordControl="ngModel">
          <app-validation-messages [controlObject]="NewPasswordControl"></app-validation-messages>
        </div>
      </div>

      <div class="form-group row" [class.has-danger]="ConfirmPasswordControl.invalid && (ConfirmPasswordControl.dirty || ConfirmPasswordControl.touched)">
        <div class="col-sm-2">
          <label class="col-form-label" for="ConfirmPassword">Confirm new password</label>
        </div>
        <div class="col-sm-10">
          <input type="password" class="form-control" [class.form-control-danger]="ConfirmPasswordControl.invalid && (ConfirmPasswordControl.dirty || ConfirmPasswordControl.touched)"
            name="ConfirmPassword" required [(ngModel)]="model.ConfirmPassword" #ConfirmPasswordControl="ngModel">
          <app-validation-messages [controlObject]="ConfirmPasswordControl"></app-validation-messages>
          <div class="col-form-label" *ngIf="customErrorMessage" style="color: #f0466b;">
            {{customErrorMessage}}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2"></label>
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary m-b-0" [class.disabled]="!modelForm.form.valid" [disabled]="!modelForm.form.valid">Submit</button>
          <a routerLink="/dhashboard" class="btn btn-danger waves-effect">Cancel</a>
        </div>
      </div>

    </form>
  </div>
</div>
